#present-select-container {
  flex: 1;
  background-color: rgb(126, 180, 180);
}

#header-content {
  margin: 40px 0 20px 0;
}

#main-content {
  margin: 0 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#content {
  display: flex;
}

#left-content {
  width: 30%;
}

#right-content {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#start-round-btn {
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  font-size: large;
  padding: 4px 8px;
  cursor: pointer;
  margin-right: 10px;
}

#complete-btn {
  align-self: center;
  margin-top: 20px;
  height: 50px;
  width: 300px;
}

#start-round-btn:disabled {
  opacity: 0.2;
}

b#active-label {
  font-size: larger;
}

span#active-participant {
  color: white;
}
