#splash-screen-container {
  display: flex;
  flex: 1;
  background-color: rgb(255, 127, 39);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
}

#splash-title {
  font-size: 250%;
}

#splash-img {
  width: 500px;
  margin-bottom: 30px;
}
