#claimed-present-list {
  text-align: center;
  margin-top: 20px;
}

#claimed-presents-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex: 0 50%;
}

.disabled {
  pointer-events: none;
}
