.present-description-container {
  margin: 10px;
  text-align: center;
}

.present-container {
  cursor: pointer;
  width: 100px;
  height: 63px;
  display: flex;
  flex: 1;
}

.unopened {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
}

span.present-number {
  font-size: 200%;
  font-weight: bold;
}

.claimed-description {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

img.claimed {
  width: 100px;
}

.stolen {
  opacity: 0.25;
}
