.present-description-container {
  margin: 10px;
}

.present-container {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  flex: 1;
}

.unopened {
  background-color: tomato;
  display: flex;
  flex: 1;
}
