#present-list {
  text-align: center;
}

#present-list-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex: 0 50%;
}

.header {
  font-size: larger;
  font-weight: bold;
}

.disabled {
  pointer-events: none;
}
