.present-description-container {
  margin: 10px;
}

.present-container {
  cursor: pointer;
  width: 100px;
  height: 63px;
  display: flex;
  flex: 1;
}

.unopened {
  background-color: tomato;
  display: flex;
  flex: 1;
}

.claimed-description {
  /* background-color: turquoise; */
  display: flex;
  flex-direction: column;
}

img.claimed {
  width: 100px;
}

.stolen {
  opacity: 0.25;
}
