#participant-list {
  /* width: 25%; */
  /* background-color: violet; */
}

.title {
  text-align: center;
}

#participant-list-container {
  background-color: lightskyblue;
  padding: 10px;
  /* display: flex;
  flex-wrap: wrap;
  flex: 1; */
  columns: 2;
  list-style-type: none;
}

.participant-container {
  margin-bottom: 10px;
  /* flex: 0 50%; */
}
